<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="cwfmRoomApp"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="cwfmMainApp"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/res/img/favicon.ico" /><!-- 16x16 -->
<link rel="apple-touch-icon-precomposed" href="/res/img/apple-touch-icon-iphone.png" /><!-- 57x57 -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/res/img/apple-touch-icon-ipad.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/res/img/apple-touch-icon-iphone4.png" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<title>Clockwork.FM</title>

<link href="/res/jplayer-theme/jplayer.css?nocache" rel="stylesheet" type="text/css" />
<!-- <link href="/res/layout.css?nocache" rel="stylesheet" type="text/css" /> -->
<!-- <link href="/res/bootstrap-layout.css?nocache" rel="stylesheet" type="text/css" /> -->

<!-- <link media="only screen and (max-device-width: 480px) and (min-device-width: 320px)" href="/res/mobilelayout.css?nocache" type="text/css" rel="stylesheet" />  -->
<!-- <link href="api/customcss.css?nocache" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" href="/res/css/normalize.css">
<link rel="stylesheet" href="/res/css/main.css">
<script type="text/javascript" src="/res/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/res/js/json2.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/res/js/jplayer.playlist.js"></script>
<script type="text/javascript" src="/res/js/jquery.jplayer.inspector.js"></script>
<!-- <script type="text/javascript" src="/res/js/mustache-0.7.0.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/jquery-color.js"></script> -->
<!-- ui sortable -->
<!-- <script type="text/javascript" src="/res/js/jquery-ui-1.10.0.custom.min.js"></script>  -->

<!-- cherrymusic -->
<!-- <script type="text/javascript" src="/res/js/jquery.event.move.min.js"></script> -->

<!--swipe-->
<!-- <script type="text/javascript" src="/res/playlistmanager.js"></script> -->
<!-- <script type="text/javascript" src="/res/mediabrowser.js"></script> -->
<!-- <script type="text/javascript" src="/res/cherrymusic.js"></script> -->

<!--bootstrap -->
<!-- <link href="/res/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
<!-- <link href="/res/bootstrap/css/bootstrap-modal.css" rel="stylesheet"> -->
<!-- <script src="/res/bootstrap/js/bootstrap.min.js"></script> -->
<!-- <script src="/res/bootstrap/js/bootstrap-modal.js"></script> -->
<!-- <script src="/res/bootstrap/js/bootstrap-modalmanager.js"></script> -->
<!-- <link href="/res/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"> -->

<script src="/res/js/angular.min.js"></script>
<script src="/res/js/cwfm.filters.js"></script>
<script src="/res/js/cwfm.roomlist.js"></script>
</head>
<body>
    <div id="jplayer" class="jp-jplayer"></div>
    <div id="cwfmRoomlistCtrl" ng-controller="cwfmRoomlistCtrl">
        <label>
            <input ng-model="new_room" />
            <a ng-click="make_room()">Create a room</a>
        </label>
        <h1>Join a room</h1>
        <ul>
            <li ng-repeat="room in rooms"><a href="/room/{{room}}">{{room}}</a></li>
        </ul>
    </div>
</body>
</html>
