<html ng-app="cwfmRoomApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="/res/favicon32.png" type="image/png"> <!-- relative path so cherrymusic can run in subdir (#344) -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

<!-- <link href="/res/jplayer-theme/jplayer.css?nocache" rel="stylesheet" type="text/css" />-->
<!-- <link href="/res/layout.css?nocache" rel="stylesheet" type="text/css" /> -->
<!-- <link href="/res/bootstrap-layout.css?nocache" rel="stylesheet" type="text/css" /> -->

<!-- <link media="only screen and (max-device-width: 480px) and (min-device-width: 320px)" href="/res/mobilelayout.css?nocache" type="text/css" rel="stylesheet" />  -->
<!-- <link href="api/customcss.css?nocache" rel="stylesheet" type="text/css" /> -->
<!-- <script type="text/javascript" src="/res/js/jquery-1.8.3.min.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/json2.min.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/jquery.jplayer.min.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/jplayer.playlist.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/jquery.jplayer.inspector.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/mustache-0.7.0.js"></script> -->
<!-- <script type="text/javascript" src="/res/js/jquery-color.js"></script> -->
<!-- ui sortable -->
<!-- <script type="text/javascript" src="/res/js/jquery-ui-1.10.0.custom.min.js"></script>  -->

<!-- cherrymusic -->
<!-- <script type="text/javascript" src="/res/js/jquery.event.move.min.js"></script> -->

<!--swipe-->
<!-- <script type="text/javascript" src="/res/playlistmanager.js"></script> -->
<!-- <script type="text/javascript" src="/res/mediabrowser.js"></script> -->
<!-- <script type="text/javascript" src="/res/cherrymusic.js"></script> -->

<!--bootstrap -->
<!-- <link href="/res/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
<!-- <link href="/res/bootstrap/css/bootstrap-modal.css" rel="stylesheet"> -->
<!-- <script src="/res/bootstrap/js/bootstrap.min.js"></script> -->
<!-- <script src="/res/bootstrap/js/bootstrap-modal.js"></script> -->
<!-- <script src="/res/bootstrap/js/bootstrap-modalmanager.js"></script> -->
<!-- <link href="/res/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"> -->

<script src="/res/js/angular.min.js"></script>
<script src="/res/js/cwfm.filters.js"></script>
<script src="/res/js/cwfm.room.js"></script>
<script src="/res/js/cwfm.playlist.js"></script>
<script src="/res/js/cwfm.app.js"></script>

<title>Room</title>
</head>
<body ng-controller="cwfmRoomCtrl">
    <div>
        <h1>Welcome to {{room.name}}</h1>
        <p>{{room.message}}</p>

        <dl ng-if="room.song.length">
            <dt>Now Playing<dt>
            <dd>{{song_title()}}</dd>

            <dt>Time Remaining</dt>
            <dd>{{song_remaining() | time}}</dd>

            <dt>Played By</dt>
            <dd>{{room.dj.name}}</dd>
        </dl>

        <h2>DJs</h2>
        <ul>
            <li ng-repeat="member in room.members | filter:is_dj:member">
                {{is_dj(member) | checkmark}}{{member.name}}
            </li>
        </ul>

        <h2>Room members</h2>
        <ul>
            <li ng-repeat="member in room.members | filter:not(is_dj):member">
                {{is_dj(member) | checkmark}}{{member.name}}
            </li>
        </ul>

        <h2>Actions</h2>
        <ul>
            <li><a ng-click="api('dj')"             href="#dj">DJ</a></li>
            <li><a ng-click="api('undj')"           href="#undj">Stop DJing</a></li>
            <li><a ng-click="api('selectplaylist')" href="#selectplaylist">Select Playlist <input type="text"  value="1" name="plid" /></a></li>
            <li><a ng-click="api('roominfo')"       href="#roominfo">Room info</a></li>
            <li><a ng-click="api('leave')"          href="#leave">Leave Room</a></li>
        </ul>
    </div>

    <div ng-controller="cwfmPlaylistCtrl">
        
    </div>
</body>
</html>
